body {
  background-color: #ededed;
}

table {
  background-color: white;
}

.box{
  box-shadow: -10px 10px #c9c9c9;
  border: none;
  border-radius: 0;
}

.box.small{
  box-shadow: -5px 5px #c9c9c9;
}



/*.no-radius{
  border: none;
  border-radius: 0;
}*/

/*.no-radius:focus{
  box-shadow: none;
}*/

.nav-pills>li>a {
  border-radius: 0px;
}

.btn{
  border-radius: 0px;
}

.form-control{
  border-radius: 0px;
}

textarea.form-control{
  border: none;
}

.form-group{
  margin-bottom: 0;
}


div.cust {
  background-color: white;
	padding: 5px 15px;
  margin: 0px 0px 10px 0px;
  /*height: 145px;*/
  box-shadow: -5px 5px #c9c9c9;
  border: none;
  border-radius: 0;
}

row {
  margin: 20px 0px;
}

ul {
    list-style:none;
    padding-left:0;
}

ul.about {
    list-style:disc;
    padding-left:40px;
}

.popover {
  max-width: none;
}

#svg-parent {
  position: absolute;
  left: 1%;
  right: 1%;
}

#svg {
  float:right;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
/*#sidebar {
  width: 25%;
  float: left;
}*/



@media only screen and (max-width: 991px) {
    #svg-parent {
      position: static;
    }
    #svg {
      float: none;
      position: static;
    }
    #sidebar {
      width: 100%;

    }
}
